/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Styling the header and navigation bar */
header {
    background-color: #2f2d2d;
    color: #fff;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 50px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Styling the mobile menu button */
.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button span {
    background-color: #fff;
    width: 30px;
    height: 3px;
    margin: 4px 0;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 1;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 10px 0;
        text-align: center;
    }

    .toggle-button {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 2;
    }
}
